<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/data_analysis_styles.css' %}">
    <title>Data Analysis</title>
</head>
<body>
   <h1>this is data analysis page form html</h1> 

   <table width="600" border="2px" align="center">
    <tr>
      <th>Teacher's name</th>
      <th>Course name</th>
      <th>Subject</th>
      <th>Course Duration</th>
      <th>Total Seat</th>
    </tr>
    <tr align="center">
      <td>Sagor Ahmed</td>
      <td>Phitron</td>
      <td>Deep Learning</td>
      <td>14 Month</td>
      <td>1250</td>
    </tr>
    <tr align="center">
      <td>Ismail hossen</td>
      <td>Phitron</td>
      <td>Machine Learning</td>
      <td>10 Month</td>
      <td>30</td>
    </tr>
    <tr align="center">
      <td>Saiful Islam</td>
      <td>Phitron</td>
      <td>Data Science</td>
      <td>6 Month</td>
      <td>950</td>
    </tr>
    <tr align="center">
      <td>Jakir Uzzaman</td>
      <td>Phitron</td>
      <td>Data Analysis</td>
      <td>8 Month</td>
      <td>120</td>
    </tr>
  </table>
  
</body>
</html>