<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/machine_random_styles.css' %}">
    <title>Random Forest</title>
</head>
<body>
  <h1>this is random forest page</h1>  

  <form action="">
    <input type="text" name="" id="" placeholder="Enter your name.."><br><br>
    <input type="email" name="" id="" placeholder='example@gmail.com'><br><br>
    <input type="password" name="" id="" placeholder='Enter password'><br><br>
    <input type="file" name="" id=""><br><br>
    <input type="datetime-local" name="" id=""><br><br>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset"><br><br>

    <input type="radio" name="gender" id="">Male
    <input type="radio" name="gender" id="">Female
    <input type="radio" name="gender" id="">Others <br><br>

    <input type="checkbox" name="" id="">Data Science
    <input type="checkbox" name="" id="">Machine Learning
    <input type="checkbox" name="" id="">Deep Learning
    <input type="checkbox" name="" id="">Data Analysis

  </form>
</body>
</html>